@import "../utils";

.container {
    max-width: px(800);
    margin: 0 auto;
    padding: px(48) px(0);

    &__title {
        font-size: px(28);
        font-weight: 600;
        padding-bottom: px(24);
    }

    &__form {
        display: grid;
        grid-template-columns: px(140) 1fr;
        row-gap: px(16);
        margin: px(0) px(2);
    }
}
