@import "../utils";

.label {
    display: block;
    color: #1a1f36;
    font-size: px(14);
    font-weight: 400;
    padding: px(0);
    transition: padding 1s;

    &--edit-mode {
        padding: px(8) px(0);
    }
}
