@import "../utils";

.textarea {
    border-radius: px(4);
    outline: none;
    color: #1a1f36;
    font-size: px(14);
    font-weight: 400;
    transition: padding 1s, box-shadow 1s;

    &--edit-mode {
        padding: px(8);
        box-shadow: px(0) px(0) px(0) px(1) #3c425732,
            px(0) px(2) px(4) px(0) #00000007,
            px(0) px(1) px(1.5) px(0) #00000005;

        &:hover {
            box-shadow: px(0) px(0) px(0) px(1) #3c425732,
                px(0) px(2) px(4) px(0) #00000007,
                px(0) px(1) px(1.5) px(0) #00000005,
                px(0) px(2) px(5) px(0) #3c425708;
        }

        &:active,
        &:focus {
            box-shadow: 0 0 0 px(4) #3a97d45c, 0 0 0 px(1) #3c425729;
        }
    }
}
