.example-text-input {
    border-radius: 6px;
    outline: none;
    padding: 0;
    margin: 6px;
    box-shadow: 0 0 4px transparent;
    transition: margin 1s, padding 1s, box-shadow 1s;

    &--edit-mode {
        padding: 6px;
        margin: 12px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    }

    &--view-mode {
        /*! keep - so scss compiles empty class */
    }
}
